# sha256: 0bP4Rg6Tb0eEbnxPgK-VHtqCpBwlPDpR_zOJhj_xwDo
# sha256: uBCR_UHpUunXFQuLwgVbFAwsETJIX3jk6gdQE3CAANU
Django==1.6.2

# sha256: qI7Y-5I6U8cMLEb75FCLX4Fka0sBQB8VaKghZxszIVw
# sha256: 53T3tTehlADKaH9I01KrdGFzKsQThd2I_a1Hie-tKcU
django-appconf==0.6

# sha256: Zv8ahFpsGxbEz1Uu49dGAzl55GzZvV2ZnUtdrpMyelI
django-compressor==1.3

# sha256: r5dH7CcnQlsbCSUpdeIVAu5aPY0jXH9Jhp6xPgnM9OQ
redis==2.9.1

# sha256: 1DkqfI2RsAXAAlaKhfr2F8ZyQcjNg5nMOV6PEAWv-A0
# sha256: jzT1uJ4X-opuOUUxAxjL1cjLsW-iiPeOqW28cDRMsb8
six==1.6.1

# sha256: Xq3Xc16Qo9r3fzPFVMWo4pMCdDKQIWk2QedPlXqvnfw
django-extensions==1.3.3

# sha256: wbr3o-i-cPNNkx7hcyg_QGh3vT0X83K76CMYpbPFEMw
Werkzeug==0.9.4
