{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <title>Glow</title>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.less' %}" type="text/less" charset="utf-8">
  {% endcompress %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35433268-35', 'mozilla.org');
    ga('send', 'pageview');
  </script>
</head>
<body data-static-data-url="{{ MAP_DATA_URL }}"
      data-timestamp="{{ data_timestamp }}">

<div class="wrapper">

  <header class="animated fadeInDown">
    <h1>{{ _('Firefox') }}</h1>
    <h2>
      {% comment %}
      question-circle link can't have a space after title string
      {% endcomment %}
      {% blocktrans with count=count_footnote|safe %}
        Join {{ count }} people shaping the future of the Web{% endblocktrans %}
    </h2>
    <div class="actions hidden-xs">
      <a href="#video-modal" class="video-panel-link" data-toggle="modal">
        <i class="fa fa-play"></i>
        <span class="title">{{ _('The Web we want') }}</span>
      </a>
      <a class="btn btn-download" href="http://www.mozilla.org/firefox/new/#download-fx">
        <span class="title">{{ _('Get Firefox') }}</span>
        <span class="sub-title">{{ _('Free Download') }}</span>
      </a>
    </div>
  </header>

  {% include 'map.html' %}

  {% include 'stats-panel.html' %}

  <footer>
    <a href="https://www.mozilla.org/privacy/policies/websites/" class="privacy-link">
      {{ _('Privacy') }}
    </a>
    <a href="https://www.mozilla.org/about/legal.html" class="legal-link">
      {{ _('Legal') }}
    </a>
  </footer>

</div>

{% include 'choice-modal.html' %}
{% include 'interstitial-modal.html' %}
{% include 'number-modal.html' %}
{% include 'video-modal.html' %}

{% compress js %}
  <script src="{% static 'js/libs/jquery-2.1.0.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/libs/d3.v3.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/libs/topojson.v1.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/libs/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/libs/select2.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/map.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/stats.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}

</body>
</html>
