{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
  <title>Glow</title>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.less' %}" type="text/less" charset="utf-8">
  {% endcompress %}
</head>
<body>

<div class="wrapper">

  <header>
    <h1>{{ _('Firefox') }}</h1>
    <h2>{{ _('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.') }}</h2>
    <div class="actions">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#choice">
        Launch demo modal
      </button>
    </div>
  </header>

  <div class="map">
    <img src="{% static 'img/continents.svg' %}" alt="World map">
  </div>

  {% include 'stats-panel.html' %}

</div>

{% include 'choice-modal.html' %}

{% compress js %}
  <script src="{% static 'js/libs/jquery-2.1.0.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/libs/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}

</body>
</html>
