  <!-- Modal -->
  <div class="modal fade choice-modal" id="choice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            {{ _('Close') }}
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>{{ _('By using Firefox, you help shape the future of the Web.') }}</h1>
          <h2>{{ _('What kind of Web do you want?') }}</h1>
          <p>I want a Web that:</p>
          <ul class="choices">
            <li class="choice-privacy"><a href="#" class="btn btn-default">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
              </span></span>
              <span class="choice-title"><span>{{ _('Safeguards privacy') }}</span></span>
            </a></li>
            <li class="choice-opportunity"><a href="#" class="btn btn-default">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
              </span></span>
              <span class="choice-title"><span>{{ _('Creates opportunity') }}</span></span>
            </a></li>
            <li class="choice-access"><a href="#" class="btn btn-default">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
              </span></span>
              <span class="choice-title"><span>{{ _('Is available to all') }}</span></span>
            </a></li>
            <li class="choice-freedom"><a href="#" class="btn btn-default">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
              </span></span>
              <span class="choice-title"><span>{{ _('Promotes freedom') }}</span></span>
            </a></li>
            <li class="choice-education"><a href="#" class="btn btn-default">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
              </span></span>
              <span class="choice-title"><span>{{ _('Inspires learning') }}</span></span>
            </a></li>
            <li class="choice-control"><a href="#" class="btn btn-default">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
              </span>
              <span class="choice-title"><span><span>{{ _('Puts me in control') }}</span></span>
            </a></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">Twitter</button>
          <button type="button" class="btn btn-primary">Facebook</button>
        </div>
      </div>
    </div>
  </div>
