{% load i18n %}
  <!-- Modal -->
  <div class="modal choice-modal" id="choice-modal" tabindex="-1" role="dialog" aria-hidden="true" data-share-url="{% url 'glow.share' %}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            {{ _('Close') }}
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="choice-body-container">
          <div class="modal-body">
            <div class="modal-body-page" id="choice-modal-choice-page">
              <h1>{{ _('By using Firefox, you help shape the future of the Web.') }}</h1>
              <h2>{{ _('What kind of Web do you want?') }}</h2>
              <p>{{ _('I want a Web that:') }}</p>
              <ul class="choices">
                <li class="choice-privacy">
                  <button type="button"
                      class="btn btn-default"
                      data-twitter="{{ share_twitter_privacy }}"
                      data-facebook="{{ share_facebook_privacy }}"
                      data-choice="privacy">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="choice-title"><span>{{ _('Safeguards privacy') }}</span></span>
                  </button>
                </li>
                <li class="choice-opportunity">
                  <button type="button"
                      class="btn btn-default"
                      data-twitter="{{ share_twitter_opportunity }}"
                      data-facebook="{{ share_facebook_opportunity }}"
                      data-choice="opportunity">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="choice-title"><span>{{ _('Creates opportunity') }}</span></span>
                  </button>
                </li>
                <li class="choice-access">
                  <button type="button"
                      class="btn btn-default"
                      data-twitter="{{ share_twitter_access }}"
                      data-facebook="{{ share_facebook_access }}"
                      data-choice="access">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="choice-title"><span>{{ _('Is available to all') }}</span></span>
                  </button>
                </li>
                <li class="choice-freedom">
                  <button type="button"
                      class="btn btn-default"
                      data-twitter="{{ share_twitter_freedom }}"
                      data-facebook="{{ share_facebook_freedom }}"
                      data-choice="freedom">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
                    </span>
                  <span class="choice-title"><span>{{ _('Promotes freedom') }}</span></span>
                  </button>
                </li>
                <li class="choice-learning">
                  <button type="button"
                      class="btn btn-default"
                      data-twitter="{{ share_twitter_learning }}"
                      data-facebook="{{ share_facebook_learning }}"
                      data-choice="learning">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="choice-title"><span>{{ _('Inspires learning') }}</span></span>
                  </button>
                </li>
                <li class="choice-control">
                  <button type="button"
                      class="btn btn-default"
                      data-twitter="{{ share_twitter_control }}"
                      data-facebook="{{ share_facebook_control }}"
                      data-choice="control">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="choice-title"><span>{{ _('Puts me in control') }}</span></span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="modal-body-page" id="choice-modal-interstitial-page">
              {% comment %}INTERSTITIAL{% endcomment %}
              {# Translators: Interstitial: Headline #}
              <h1>{% trans "Did you know?" %}</h1>

              <h2 class="interstitial-content choice-privacy">
                {# Translators: Interstitial: Privacy  #}
                {% trans "Firefox is the only major browser not targeted by the NSA scandal and we're fighting to reform government surveillance for you." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-opportunity">
                {# Translators: Interstitial: Opportunity #}
                {% trans "Firefox is made by a global volunteer community 6,000 strong, open to participation from anyone." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-access">
                {# Translators: Interstitial: Accessibility #}
                {% trans "Firefox disrupted the mobile industry with the first free, open-source, Web-based operating system to help bring the next billion people online." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-freedom">
                {# Translators: Interstitial: Freedom #}
                {% trans "Firefox protested and lobbied against SOPA and PIPA, dangerous copyright legislation that threatened the freedom of the Web." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-learning">
                {# Translators: Interstitial: Learning #}
                {% trans "Firefox teaches digital literacy to millions of people around the world to give them the tools and skills they need to move from using the Web to actively making it." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-control">
                {# Translators: Interstitial: User Control #}
                {% trans "Firefox leads the way in giving users greater control online. We pioneered features like Do Not Track and Lightbeam." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
              </h2>

              {# Translators: Interstitial: Closing Line #}
              <p><a href="#" data-dismiss="modal">{% trans "Now see what kind of Web the world wants" %}</a></p>
            </div>
          </div>
        </div>
        <div class="choice-footer-container">
          <div class="modal-footer">
            <div class="choice-footer-content">
              <span class="title">{{ _('Share your Web on:') }}</span>
              <button type="button" class="btn btn-primary share-facebook">
                <i class="fa fa-facebook"></i>
                <span class="title">{{ _('Facebook') }}</span>
              </button>
              <button type="button" class="btn btn-primary share-twitter">
                <i class="fa fa-twitter"></i>
                <span class="title">{{ _('Twitter') }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="choice-footnotes">
        <div class="link"><a href="#" class="share-local">
          {% blocktrans with site='webwewant.mozilla.org' %}Share only on {{ site }}{% endblocktrans %}</a>
        </div>
        <p class="note">{{ _('When you select any of the sharing links, we add your location to the map to show the worldwide impact of our community.') }}</p>
      </div>
    </div>
  </div>
