{% load i18n %}
  <!-- Modal -->
  <div class="modal choice-modal" id="choice-modal" tabindex="-1" role="dialog" aria-hidden="true" data-share-url="{% url 'glow.share' %}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="choice-modal-interstitial-back-button" aria-hidden="true">
            <i class="fa fa-arrow-circle-left"></i>
          </button>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            {{ _('Close') }}
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="choice-body-container">
          <div class="modal-body">
            <div class="modal-body-page" id="choice-modal-choice-page">
              <!-- choices go here -->
            </div>
            <div class="modal-body-page" id="choice-modal-interstitial-page">

              {% comment %}INTERSTITIAL{% endcomment %}
              {# Translators: Interstitial: Headline #}
              <h1>{% trans "Did you know?" %}</h1>

              <h2 class="interstitial-content choice-privacy">
                {# Translators: Interstitial: Privacy  #}
                {% trans "Firefox is made under the principle that security and privacy are fundamental and must not be treated as optional." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-opportunity">
                {# Translators: Interstitial: Opportunity #}
                {% trans "Firefox is made by a global volunteer community 6,000 strong, open to participation from anyone." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-access">
                {# Translators: Interstitial: Accessibility #}
                {% trans "Firefox disrupted the mobile industry with the first free, open-source, Web-based operating system to help bring the next billion people online." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-freedom">
                {# Translators: Interstitial: Freedom #}
                {% trans "Firefox protested and lobbied against SOPA and PIPA, dangerous copyright legislation that threatened the freedom of the Web." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-learning">
                {# Translators: Interstitial: Learning #}
                {% trans "Firefox teaches digital literacy to millions of people around the world to give them the tools and skills they need to move from using the Web to actively making it." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
              </h2>
              <h2 class="interstitial-content choice-control">
                {# Translators: Interstitial: User Control #}
                {% trans "Firefox leads the way in giving users greater control online. We pioneered features like Do Not Track and Lightbeam." %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
              </h2>

              {# Translators: Interstitial: Closing Line #}
              <p><a href="#" data-dismiss="modal">{% trans "Now see what kind of Web the world wants" %}</a></p>
            </div>
          </div>
        </div>{# .choice-body-container #}
      </div>{# .modal-content #}
    </div>{# .modal-dialog #}
  </div>
