{% load i18n %}
<div class="choices-mobile">

  <div class="choices-wrapper">
      <h1>{{ _('By using Firefox, you help shape the future of the Web.') }}</h1>
      <h2>{{ _('What kind of Web do you want?') }}</h2>
    <p>{{ _('I want a Web that:') }}</p>
    <ul class="choices">
      {% for issue in issue_choices %}
      <li class="choice-{{ issue.name }}">
        <button type="button"
            class="btn btn-default"
            data-choice="{{  issue.name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa {{ issue.icon }} fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{{ issue.title }}</span></span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <div class="choice-footnotes">{{ _('When you select any of the sharing links, we add your location to the map to show the worldwide impact of our community.') }}</div>
  </div>

</div>
