{% load i18n %}
{% load staticfiles %}
<div class="stats-mobile">
  <label class="stats-mobile-picker visible-xs stats-picker-privacy">
    <p class="picker-label">{% trans 'View by:' %} <i class="fa fa-eye"></i></p>
    <div class="select-wrapper">
      <select size="1">
        <option value="privacy" selected="selected">{% trans 'Privacy' %}</option>
        <option value="opportunity">{% trans 'Opportunity' %}</option>
        <option value="access">{% trans 'Accessibility' %}</option>
        <option value="freedom">{% trans 'Freedom' %}</option>
        <option value="learning">{% trans 'Learning' %}</option>
        <option value="control">{% trans 'User control' %}</option>
      </select>
    </div>
    <i class="fa fa-caret-down"></i>
  </label>
  <div class="stats-mobile-content">
    <div class="stats-panel-column">

      <div class="chart1">
        <div class="donut">
          <div class="donut-icon">
            <i class="fa fa-fw fa-eye fa-4x fa-inverse"></i>
          </div>
        </div>
        <h3 class="donut-prose"></h3>
      </div>

      <div class="stats-panel-column-right">
        <div class="what-is-mozilla-doing-about-it">
          <div class="stats-share-link popover-markup">
            <a href="#" class="trigger" data-placement="top" data-toggle="popover">
              <i class="fa fa-share-square-o"></i>
              <span class="title">{% trans 'Share this page' %}</span>
            </a>
            <div class="content hide">
              <div class="stats-share-content privacy">
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_twitter_privacy }}">
                  <i class="fa fa-twitter"></i>
                  <span class="title">{% trans 'Twitter' %}</span>
                </a>
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_facebook_privacy }}">
                  <i class="fa fa-facebook"></i>
                  <span class="title">{% trans 'Facebook' %}</span>
                </a>
              </div>
              <div class="stats-share-content opportunity">
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_twitter_opportunity }}">
                  <i class="fa fa-twitter"></i>
                  <span class="title">{% trans 'Twitter' %}</span>
                </a>
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_facebook_opportunity }}">
                  <i class="fa fa-facebook"></i>
                  <span class="title">{% trans 'Facebook' %}</span>
                </a>
              </div>
              <div class="stats-share-content access">
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_twitter_access }}">
                  <i class="fa fa-twitter"></i>
                  <span class="title">{% trans 'Twitter' %}</span>
                </a>
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_facebook_access }}">
                  <i class="fa fa-facebook"></i>
                  <span class="title">{% trans 'Facebook' %}</span>
                </a>
              </div>
              <div class="stats-share-content freedom">
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_twitter_freedom }}">
                  <i class="fa fa-twitter"></i>
                  <span class="title">{% trans 'Twitter' %}</span>
                </a>
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_facebook_freedom }}">
                  <i class="fa fa-facebook"></i>
                  <span class="title">{% trans 'Facebook' %}</span>
                </a>
              </div>
              <div class="stats-share-content learning">
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_twitter_learning }}">
                  <i class="fa fa-twitter"></i>
                  <span class="title">{% trans 'Twitter' %}</span>
                </a>
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_facebook_learning }}">
                  <i class="fa fa-facebook"></i>
                  <span class="title">{% trans 'Facebook' %}</span>
                </a>
              </div>
              <div class="stats-share-content control">
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_twitter_control }}">
                  <i class="fa fa-twitter"></i>
                  <span class="title">{% trans 'Twitter' %}</span>
                </a>
                <a data-ga="share-stats" class="btn btn-link share-window" target="_blank"
                    href="{{ share_stats_facebook_control }}">
                  <i class="fa fa-facebook"></i>
                  <span class="title">{% trans 'Facebook' %}</span>
                </a>
              </div>
            </div>
          </div>

          <h2></h2>
          <div class="separator"></div>

          <p class="paragraph1"></p>
          <p class="did-you-know">{% trans 'Did you know?' %}</p>
          <p class="paragraph2"></p>
        </div>
      </div>

      <div class="chart2">
        <img src="{% static 'img/shadow.png' %}" class="shadow-separator">
        <h2>{% trans 'What matters most by country?' %}</h2>

        <div class="country-picker">
          <i class="fa fa-globe fa-x fa-inverse"></i>
          <select id="country">
          {% for code, name in countries_list %}
            <option value="{{ code }}" class="country-{{ code }}">{{ name }}</option>
          {% endfor %}
          </select>
        </div>
        <!-- stacked bar is appended here -->
        <svg></svg>
      </div>

      <div class="chart3">
        <img src="{% static 'img/shadow.png' %}" class="shadow-separator">
        <h2>{% trans 'How does that compare globally?' %}</h2>
        <!-- stats pane is appended here -->
        <div class='stats-chart3-loading-data'>
            <img src="{% static 'img/stats-country-compare-placeholder.png' %}" 
                class='stats-chart3-loading-data-background'>
            <div>{% trans 'We are currently gathering country-level data, please check back soon.' %}</div>
        </div>
        <svg></svg>
      </div>

    </div>{# .stats-panel-column #}
  </div>{# .stats-mobile-content #}
</div>{# .stats-mobile #}

<p class="choice-prose-rhs-title choice-privacy-prose-title-rhs">{% trans 'Firefox & privacy' %}</p>
<p class="choice-prose-rhs-title choice-opportunity-prose-title-rhs">{% trans 'Firefox & opportunity' %}</p>
<p class="choice-prose-rhs-title choice-access-prose-title-rhs">{% trans 'Firefox & accessibility' %}</p>
<p class="choice-prose-rhs-title choice-freedom-prose-title-rhs">{% trans 'Firefox & freedom' %}</p>
<p class="choice-prose-rhs-title choice-learning-prose-title-rhs">{% trans 'Firefox & learning' %}</p>
<p class="choice-prose-rhs-title choice-control-prose-title-rhs">{% trans 'Firefox & user control' %}</p>

<p class="choice-prose-rhs1 choice-privacy-prose-rhs1">{% trans 'Firefox is made under the principle that security and privacy are fundamental and must not be treated as optional.' %}</p>
<p class="choice-prose-rhs1 choice-opportunity-prose-rhs1">{% blocktrans %}Firefox is the only browser made of 100% free, open source code that anyone can view, remix and contribute to.{% endblocktrans %}</p>
<p class="choice-prose-rhs1 choice-access-prose-rhs1">{% trans 'Firefox is made with the belief that the Internet is a global public resource that must remain open and accessible to all.' %}</p>
<p class="choice-prose-rhs1 choice-freedom-prose-rhs1">{% trans 'Firefox is the only non-profit browser that prioritizes principles over profits and answers to no one but you.' %}</p>
<p class="choice-prose-rhs1 choice-learning-prose-rhs1">{% trans 'Firefox is the only browser made by a non-profit foundation working to unlock the full educational potential of the Web.' %}</p>
<p class="choice-prose-rhs1 choice-control-prose-rhs1">{% trans 'Firefox is the only browser made with a mission to put users first and to keep the power of the Web in your hands.' %}</p>

<p class="choice-prose-rhs2 choice-privacy-prose-rhs2">{% trans "Firefox is the only major browser not targeted by the NSA scandal and we're fighting to reform government surveillance for you." %}</p>
<p class="choice-prose-rhs2 choice-opportunity-prose-rhs2">{% trans 'Firefox is made by a global volunteer community 6,000 strong, open to participation from anyone.' %}</p>
<p class="choice-prose-rhs2 choice-access-prose-rhs2">{% trans 'Firefox disrupted the mobile industry with the first free, open-source, Web-based operating system to help bring the next billion people online.' %}</p>
<p class="choice-prose-rhs2 choice-freedom-prose-rhs2">{% trans 'Firefox protested and lobbied against SOPA and PIPA, dangerous copyright legislation that threatened the freedom of the Web.' %}</p>
<p class="choice-prose-rhs2 choice-learning-prose-rhs2">{% trans 'Firefox teaches digital literacy to millions of people around the world to give them the tools and skills they need to move from using the Web to actively making it.' %}</p>
<p class="choice-prose-rhs2 choice-control-prose-rhs2">{% trans 'Firefox innovations like Do Not Track and Lightbeam are leading the way to give users greater control online.' %}</p>

<p class="choice-prose choice-privacy-prose">
{% blocktrans with percentage='<span class="percentage"></span>' %}
{{ percentage }} want a Web that keeps their information safe and private.
{% endblocktrans %}
</p>

<p class="choice-prose choice-opportunity-prose">
{% blocktrans with percentage='<span class="percentage"></span>' %}
{{ percentage }} want a Web that creates opportunity and prosperity.
{% endblocktrans %}
</p>

<p class="choice-prose choice-access-prose">
{% blocktrans with percentage='<span class="percentage"></span>' %}
{{ percentage }} believe the Web should be available and accessible to all.
{% endblocktrans %}
</p>

<p class="choice-prose choice-freedom-prose">
{% blocktrans with percentage='<span class="percentage"></span>' %}
{{ percentage }} want the Web to be a forum for democratic exchange and free speech.
{% endblocktrans %}
</p>

<p class="choice-prose choice-learning-prose">
{% blocktrans with percentage='<span class="percentage"></span>' %}
{{ percentage }} want a Web that promotes learning & knowledge.
{% endblocktrans %}
</p>

<p class="choice-prose choice-control-prose">
{% blocktrans with percentage='<span class="percentage"></span>' %}
{{ percentage }} want a Web that keeps them in control of their lives online.
{% endblocktrans %}
</p>
