<div class="stats-panel">
  <nav class="stats-panel-nav">
    <a href="#" class="stats-panel-tab">
      <i class="fa fa-chevron-up"></i>
      <span class="title">{{ _('Facts & figures') }}</span>
    </a>
    <a href="#choice" class="stats-panel-link" data-toggle="modal">
      <i class="fa fa-list-ul"></i>
      <span class="title">{{ _('What matters to you?') }}</span>
    </a>
    <a href="#" class="stats-panel-link">
      <i class="fa fa-share-square-o"></i>
      <span class="title">{{ _('Share the map') }}</span>
    </a>
  </nav>
  <div class="stats-panel-contents">

<div class="key key_stats_panel">
  <div class="title c">{{ _('View by:') }}</div>
  <ul>
    <li class="choice-privacy"><a href="#">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
      </span>
      <span class="choice-title"><span>{{ _('Privacy') }}</span></span>
    </a></li>
    <li class="choice-opportunity"><a href="#">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
      </span>
      <span class="choice-title"><span>{{ _('Opportunity') }}</span></span>
    </a></li>
    <li class="choice-access"><a href="#">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
      </span>
      <span class="choice-title"><span>{{ _('Accessibility') }}</span></span>
    </a></li>
    <li class="choice-freedom"><a href="#">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
      </span>
      <span class="choice-title"><span>{{ _('Freedom') }}</span></span>
    </a></li>
    <li class="choice-learning"><a href="#">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
      </span>
      <span class="choice-title"><span>{{ _('Learning') }}</span></span>
    </a></li>
    <li class="choice-control"><a href="#">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
      </span>
      <span class="choice-title"><span>{{ _('User control') }}</span></span>
    </a></li>
  </ul>
</div>
  
    <div class="chart1">
		<div class="donut"></div>
		  <div class="donut_prose">
	        <p>{{ _('<span class="donut_global_value"></span> want a Web that keeps their information safe and private.') }}</p>
	      </div>
	    </div>
    </div>
  </div>
</div>
