{% load i18n %}
{% load staticfiles %}
<div class="stats-panel animated fadeInUp hidden-xs">
  <nav class="stats-panel-nav">
    <button class="stats-panel-tab">
      <i class="fa fa-chevron-up"></i>
      <span class="title" data-open-title="{% trans 'Back to map' %}">{% trans 'Facts & figures' %}</span>
    </button>
    <a href="#choice-modal" id="ga-what-matters-link" class="stats-panel-link" data-toggle="modal">
      <i class="fa fa-list-ul"></i>
      <span class="title">{% trans 'What matters to you?' %}</span>
    </a>
    <div class="stats-panel-link popover-markup">
      <a href="#" class="trigger" data-placement="top" data-toggle="popover">
        <i class="fa fa-share-square-o"></i>
        <span class="title">{% trans 'Share the map' %}</span>
      </a>
      <div class="content hide">
        <a data-ga="share-map" class="btn btn-link share-window" target="_blank"
            href="{{ share_map_twitter }}">
          <i class="fa fa-twitter"></i>
          <span class="title">{% trans 'Twitter' %}</span>
        </a>
        <a data-ga="share-map" class="btn btn-link share-window" target="_blank"
            href="{{ share_map_facebook }}">
          <i class="fa fa-facebook"></i>
          <span class="title">{% trans 'Facebook' %}</span>
        </a>
      </div>
    </div>
  </nav>
  <div class="stats-panel-contents">
    <div class="key key-stats-panel">
      <div class="title c">{% trans 'View by:' %}</div>
      <ul>
        <li class="choice-privacy"><a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{% trans 'Privacy' %}</span></span>
        </a></li>
        <li class="choice-opportunity"><a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{% trans 'Opportunity' %}</span></span>
        </a></li>
        <li class="choice-access"><a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{% trans 'Accessibility' %}</span></span>
        </a></li>
        <li class="choice-freedom"><a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{% trans 'Freedom' %}</span></span>
        </a></li>
        <li class="choice-learning"><a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{% trans 'Learning' %}</span></span>
        </a></li>
        <li class="choice-control"><a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
          </span>
          <span class="choice-title"><span>{% trans 'User control' %}</span></span>
        </a></li>
      </ul>
    </div>

    <!-- stats-panel-column goes here -->

    <!-- stats-panel-column-right goes here -->

  </div>{# .stats-panel-contents #}
</div>{# .stats-panel #}
