<div class="stats-panel">
  <nav class="stats-panel-nav">
    <a href="#" class="stats-panel-tab">
      <i class="fa fa-chevron-up"></i>
      <span class="title">{{ _('View details') }}</span>
    </a>
    <a href="#" class="stats-panel-link">
      <i class="fa fa-list-ul"></i>
      <span class="title">{{ _('What matters to you?') }}</span>
    </a>
    <a href="#" class="stats-panel-link">
      <i class="fa fa-share-square-o"></i>
      <span class="title">{{ _('Share the map') }}</span>
    </a>
  </nav>
  <div class="stats-panel-contents">
  Monorail!
  </div>
</div>
