{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% load i18n %}
{# Translators: The Dude is a proper name #}
{% trans "The Dude abides." %}

{# Translators: This is in reference to the Little Lebowski Urban Achievers #}
{% trans "And proud we are of all of them." %}

{# Translators: Quoth Donny #}
{% trans "I am the Walrus." %}

