{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load i18n %}
<!-- Modal -->
<div class="modal fade video-modal" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          {{ _('Close') }}
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body"><div id="video-player"></div></div>
      <div class="modal-footer">
        <div class="choice-footer-content">
          <a data-ga="share-video" class="btn btn-primary share-facebook share-window" target="_blank" href="{{ share_video_facebook }}">
            <i class="fa fa-facebook"></i>
            <span class="title">{{ _('Facebook') }}</span>
          </a>
          <a data-ga="share-video" class="btn btn-primary share-twitter share-window" target="_blank" href="{{ share_video_twitter }}">
            <i class="fa fa-twitter"></i>
            <span class="title">{{ _('Twitter') }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
