@import "mixins.less";

.choice-modal {
    font-style: italic;
    p {
        font-size: 16px;
   }
}

.choices {
    margin: 0 -10px;
    padding: 0;
    .clearfix();
}

.choices li {
    list-style-type: none;
    float: left;
    width: 33.3%;
    padding: 15px 10px;
    font-style: normal;
    font-size: 14px;
    &:nth-child(4) {
        clear: left;
    }
    a {
        .clearfix();
        min-height: 2.9em;
        position: relative;
        display: block;
        background: #fff;
        border: 0;
        padding: 0;
        white-space: normal;
        text-align: inherit;
        font-size: 14px;
        .fa-stack {
            position: absolute;
            top: 50%;
            left: .1em;
            margin-top: -1em;
        }
        .choice-title {
            .transition(all .1s ease-in-out);
            height: 2.9em;
            line-height: 1;
            padding: .5em 1em .5em 3em;
            display: table;
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
        &:hover,
        &:active {
            .choice-title {
                color: #fff;
            }
        }
    }
}

.choice-modal .modal-footer {
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    .btn {
        min-width: 10em;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
        margin-right: 10px;
        .fa {
            position: relative;
            left: -.2em;
            font-size: 1.4em;
        }
    }
}

.choice-footnotes {
    .link,
    .note {
        float: left;
        padding: 20px;
        width: 30%;
    }
    .note {
        width: 70%;
        font-size: 12px;
        opacity: .5;
    }
    a {
        text-decoration: underline;
        font-style: normal;
    }
}

.choices {

    .choice-privacy {
        .choice-title {
            color: @color-privacy;
        }
        a:hover,
        a:active {
            background: @color-privacy;
        }
    }

    .choice-opportunity {
        .choice-title {
            color: @color-privacy;
        }
        a:hover,
        a:active {
            background: @color-opportunity;
        }
    }

    .choice-access {
        .choice-title {
            color: @color-access;
        }
        a:hover,
        a:active {
            background: @color-access;
        }
    }

    .choice-freedom {
        .choice-title {
            color: @color-freedom;
        }
        a:hover,
        a:active {
            background: @color-freedom;
        }
    }

    .choice-learning {
        .choice-title {
            color: @color-learning;
        }
        a:hover,
        a:active {
            background: @color-learning;
        }
    }

    .choice-control {
        .choice-title {
            color: @color-control;
        }
        a:hover,
        a:active {
            background: @color-control;
        }
    }

}