body {
  background: #ddd;
  background-image: url(/static/img/glowburns.png);
  background-size: cover;
  color: #c00;
  border: 5px solid #00c;
  margin: 100px auto;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
  
  h1 {
    color: #00c;
  }
}
