@import "variables.less";
@import "bootstrap/mixins.less";
@import "fonts.less";
@import "bootstrap-theme.less";
@import "panel.less";
@import "choice-modal.less";
@import "number-modal.less";
@import "font-awesome/font-awesome.less";
@import "map.less";

* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}

html,
body {
    height: 100%;
}

body {
    background: #1876bb;
    background-image: -webkit-radial-gradient(ellipse farthest-corner at center center , #0096DD 40%, #00539F 100%);
    background-image: radial-gradient(ellipse farthest-corner at center center , #0096DD 40%, #00539F 100%);
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-style: italic;
}

.wrapper {
    background: url(/static/img/grain.png) repeat;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.map {
}

header {
    position: relative;
    z-index: 2;
    padding: 20px 40px;
    h1 {
        position: absolute;
        top: 20px;
        left: 40px;
        height: 75px;
        width: 200px;
        margin: 0;
        .text-hide();
        .img-retina('/static/img/logo.png'; '/static/img/logo@2x.png'; 200px; 75px;);
    }
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 240px;
        margin-right: 240px;
        font-weight: 300;
        .number-help {
            display: inline-block;
            font-size: 14px;
            vertical-align: top;
            position: relative;
            top: 0em;
            left: 0em;
            padding: .5em;
        }
    }
    .actions {
        position: absolute;
        top: 20px;
        right: 40px;
        z-index: 1;
    }
    .btn-download {
        text-align: inherit;
        background-color: #81bc2e;
        #gradient > .vertical(#81bc2e, darken(#81bc2e, 10%));
        min-height: 0;
        border-radius: 6px;
        border: 0;
        padding: 6px 12px 8px;
        min-width: 200px;
        font-style: normal;
        font-size: 20px;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
        line-height: 1.1;
        .box-shadow(@buttonShadow);
        span {
            display: block;
        }
        .sub-title {
            font-size: 12px;
            color: #b8e779;
        }
        &:focus {
            .box-shadow(@buttonShadowFocus);
        }
        &:hover {
            .box-shadow(@buttonShadowHover);
        }
        &:active {
            .box-shadow(@buttonShadowActive);
        }
        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }
}

.australis {
    header .btn-download {
        // if visitor is already using Australis
        // then don't show download button
        display: none;
    }
}

.choice-region {
    .fa-circle {
        color: #fff;
    }
    .fa-globe {
        color: @color-region;
    }
}

.choice-privacy {
    .fa-circle {
        color: @color-privacy;
    }
}

.choice-opportunity {
    .fa-circle {
        color: @color-opportunity;
    }
}

.choice-access {
    .fa-circle {
        color: @color-access;
    }
}

.choice-freedom {
    .fa-circle {
        color: @color-freedom;
    }
}

.choice-learning {
    .fa-circle {
        color: @color-learning;
    }
}

.choice-control {
    .fa-circle {
        color: @color-control;
    }
}
