.chart1 {
    margin-left:200px;
	position:absolute;
    width:570px
}

.donut {
	float:left;
    width:190px;
}

.donut_foreground {
	stroke-width:1;
}

.donut_global_value {
	font-weight:400;
}

.donut_icon {
	position:absolute;
	left:44px;
	top:69px;
}

.donut_prose {
    float:left;
    padding-top:45px;
    width:320px;
}

.donut_prose p {
    color: white;
    font-size: 29px;
    font-style: italic;
    font-weight: 300;
    line-height:28px;
}

.key_stats_panel {
	top:140px;
}

.key_stats_panel {
    a {
        &.selected {
            .choice-title {
                opacity: 1;
                .transition(all .1s ease-in-out);
            }
        }
    }
}

.donut svg g path {
	fill:#fff;
}